# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables and secrets
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Sensitive Credentials
serviceAccountKey.json
*.json

# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc